/* Styles for large screens (monitors) */
@media screen and (min-width: 1201px) {

    /*BODY STYLE*/
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
        background: #4824e7;
        background: linear-gradient(45deg, #4824e7, #04f196);
    }

    header {
        margin-top: 0%;
        text-align: center;
        background-color: black;
        width: 100%;
    }

    h1 {
        text-align: center;
        color: rgb(18, 206, 159);
    }

    h2 {
        color: black;
    }

    footer {
        position: relative;
        bottom: 0;
        height: auto;
        width: 100vw;
        background: black;
    }

    footer div {
        color: white;
        font-size: 3vh;
        margin-left: 10%;
    }

    /*----------------------------------------------------------------------------------*/

    .navbar {
        background-color: black;
        margin-top: 0%;
        text-align: center;
        width: 100%;
    }

    .nav-item {
        display: inline;
        text-decoration: none;
        text-align: center;
        font-size: 170%;
        overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .nav-item a {
        width: auto;
        display: block;
        transition: 0.8s;
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .nav-item a:hover {
        background-color: rgb(18, 206, 159);
        color: black;
        text-decoration: none;
    }

    .active {
        background-color: rgb(44, 122, 185);
        color: black;
        text-decoration: none;
    }

    .icon {
        display: none;
    }







    /* FOR HOME  */
    .block_1 {
        display: flex;
    }

    .introduction {
        margin-left: 2%;
        display: inline;
    }

    .news {
        float: right;
        display: inline;
    }

    /*----------------------------------------------------------------------------------*/

    /* FOR AKTUALITY */
    .aktuality {
        margin-left: 10%;
        margin-right: 10%;
    }

    .aktuality img {
        max-width: 100%;
        height: auto;
        position: relative;
        text-align: center;
    }

    .aktuality .text {
        color: black;
        text-align: justify;
    }

    .aktuality span {
        font-size: 2vh;
    }

    .text h3 {
        color: black;
        text-decoration: underline;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .Row {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 10px;
    }

    .Column {
        display: table-cell;
    }

    .text span {
        font-size: 3.3vh;
        color: black;
    }

    /* Slideshow container */
    .container2 {
        max-width: 80%;
        height: 1hv;
        max-height: 5%;
        position: relative;
        margin: 80px 200px 80px 200px;
        display: inline-block;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: relative;
        top: 50%;
        width: auto;
        padding: 20px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 40px;
        transition: 0.6s ease;
        border-radius: 0 8px 8px 0;
        user-select: none;
        display: inline-block;
        border: none;
        font-family: "Book Antiqua";
        transition: all 0.5s;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }





    /*----------------------------------------------------------------------------------*/

}


















/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover 
  {
    background-color: rgba(0,0,0,0.8);
  } */